numpy==2.3.5
optuna==4.8.0
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.1
tqdm
joblib
torch==2.12.0
biopython==1.84
fair-esm==2.0.0
pydssp==0.9.1
PyYAML==6.0.3
pytest>=6.0
pytest-mock
pyrosetta-installer

